asgiref==3.2.10; python_version >= "3.6"
dj-database-url==0.5.0
django-optimistic-lock==1.0.0
django-seed @ git+https://github.com/salomvary/django-seed.git@master
django-taggit==1.3.0; python_version >= "3.5"
django==3.1; python_version >= "3.6"
faker==5.0.0; python_version >= "3.5"
gunicorn==20.0.4; python_version >= "3.4"
psycopg2-binary==2.8.5; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.4.0")
python-dateutil==2.8.1; python_version >= "3.5" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.5"
pytz==2020.1; python_version >= "3.6"
six==1.15.0; python_version >= "3.5" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.5"
sqlparse==0.2.3; python_version >= "3.6"
text-unidecode==1.3; python_version >= "3.5"
toml==0.10.2; (python_version >= "2.6" and python_full_version < "3.0.0") or (python_full_version >= "3.3.0")
toposort==1.5
whitenoise==5.2.0; python_version >= "3.5" and python_version < "4"
