{% load i18n %}
{% load static %}

<!DOCTYPE html>
<html lang="en_US">
  <head>
    <meta charset="utf-8" />
    <title>{% block title %} Page Title {% endblock %} | Minitask</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.css" %}">
  </head>

  <body>
    <header>
      <div>
        <section
        >
          <span href="{% url 'index' %}">Home</span>
        </section>
        {% comment %} <section role="toolbar">
          {% if user.is_authenticated %}
              {{ user.get_username }}
              (<a href="{% url 'auth_logout' %}">{% trans "Sign Out" %}</a>)
          {% else %}
            <a href="{% url 'auth_login' %}">{% trans "Sign In" %}</a>
          {% endif %}
        </section> {% endcomment %}
      </div>
    </header>
    <main>
      {% block content %} Body content {% endblock %}
    </main>
  </body>
</html>
