{% load i18n %}
{% load static %}

<!DOCTYPE html>
<html lang="en_US">
  <head>
    <meta charset="utf-8" />
    <title>{% block title %}{% endblock %} | Minitask</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static "vendor/bootstrap/css/bootstrap.min.css" %}">
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <span class="navbar-brand">Minitask</span>
      <ul class="navbar-nav mr-auto">

        {% if user.is_authenticated %}
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'index' %}">{% translate "tasks"|title %} <span class="sr-only">(current)</span></a>
        </li>
        {% endif %}

        {% if user.is_staff %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'admin:index' %}">{% translate "admin"|title %} </a>
        </li>
        {% endif %}

        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}?next=/">{% translate "sign out"|title %} </a>
        </li>
        {% endif %}

      </ul>
      {% if user.is_authenticated %}
      <a href="{% url 'new' %}" class="btn btn-primary">
        {% trans "New task" %}
      </a>
      {% endif %}
    </nav>
    <main role="main" class="container p-3">
      {% block content %} Body content {% endblock %}
    </main>
  </body>
</html>
