{% load i18n %}

<div class="col-sm-4 col-lg">
    <div class="form-group">
        {{ after.label_tag }}
        <div class="input-group">
            {% if after.value and before.value %}
            <div class="input-group-prepend">
                <button class="btn btn-outline-secondary btn-sm"
                    name="previous_due_date"
                    aria-label="{% translate "Previous interval" %}"
                    title="{% translate "Previous interval" %}"
                >
                    <span aria-hidden="true">&laquo;</span>
                </button>
            </div>
            {% endif %}
            {{ after }}
        </div>
    </div>

    <div class="form-group">
        {{ before.label_tag }}
        <div class="input-group">
            {{ before }}
            {% if after.value and before.value %}
            <div class="input-group-append">
                <button class="btn btn-outline-secondary btn-sm"
                    name="next_due_date"
                    aria-label="{% translate "Next interval" %}"
                    title="{% translate "Next interval" %}"
                >
                    <span aria-hidden="true">&raquo;</span>
                </button>
            </div>
            {% endif %}
        </div>
    </div>
</div>
