{% extends "base.html" %}
{% load i18n %}
{% block title %}Home{% endblock %}
{% block content %}

<div class="row justify-content-end my-4">
  <a href="{% url 'new' %}" class="btn btn-primary">
    {% trans "New task" %}
  </a>
</div>

<table class="table my-4">
  <thead>
    <tr>
      <th scope="col">{% trans "project"|title %}</th>
      <th scope="col">{% trans "title"|title %}</th>
      <th scope="col">{% trans "assignee"|title %}</th>
      <th scope="col">{% trans "due date"|title %}</th>
      <th scope="col">{% trans "created at"|title %}</th>
    </tr>
  </thead>
  {% for task in tasks %}
    <tr>
      <td>{{task.project}}</td>
      <td>
        <a href="{% url 'detail' task.id %}">
          {{task.title}}
        </a>
      </td>
      <td>{{task.assignee}}</td>
      <td>{{task.due_date}}</td>
      <td>{{task.created_at}}</td>
    </tr>
  {% endfor %}
</table>

{% endblock %}