{% extends "base.html" %}
{% load i18n %}
{% load tasks_extras %}
{% block title %}Home{% endblock %}
{% block container_class %}container-fluid{% endblock %}
{% block content %}

{% if form.is_archived.value %}
<h2 class="my-3">{% trans "Archived tasks" %}</h2>
{% endif %}

{% include "task_filter_form.html" %}

<table class="table table-striped my-4">
  <thead>
    <tr>
      <th scope="col">{% trans "project"|title %}</th>
      <th scope="col">{% trans "title"|title %}</th>
      <th scope="col">{% trans "status"|title %}</th>
      <th scope="col">{% trans "assignee"|title %}</th>
      <th scope="col">{% trans "priority"|title %}</th>
      <th scope="col">{% trans "tags"|title %}</th>
      <th scope="col">{% trans "due date"|title %}</th>
      <th scope="col">{% trans "created at"|title %}</th>
    </tr>
  </thead>
  <tbody>
    {% for task in tasks %}
      <tr>
        <td>{{task.project}}</td>
        <td>
          <a href="{% url 'detail' task.id %}{{ form.data|to_query_str }}">
            {{task.title}}
          </a>
        </td>
        <td class="text-nowrap">{% task_status_badge task %}</td>
        <td>{{task.assignee|user_str|default_if_none:""}}</td>
        <td class="text-nowrap">{% task_priority_badge task %}</td>
        <td>{% include "tags.html" with tags=task.tags %}</td>
        <td class="text-nowrap">{{task.due_date|default_if_none:""}}</td>
        <td class="text-nowrap">{{task.created_at}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% if not tasks %}
{% if has_filter %}
<div class="alert alert-primary" role="alert">
  {% url 'index' as clear_link %}
  {% blocktranslate %}
    No tasks were found.
    Try removing some filters or <a href="{{ clear_link }}">clear all</a> of them.
  {% endblocktranslate %}
</div>
{% else %}
<div class="alert alert-primary" role="alert">
  {% url 'new' as new_task_link %}
  {% blocktranslate %}
    No tasks were found.
    <a href="{{ new_task_link }}">Create one</a>!
  {% endblocktranslate %}
</div>
{% endif %}
{% endif %}

{% endblock %}
