{% extends "base.html" %}
{% load i18n %}
{% block title %}Home{% endblock %}
{% block content %}

<table class="table">
  <thead>
    <tr>
      <th scope="col">{% trans "project"|title %}</th>
      <th scope="col">{% trans "title"|title %}</th>
      <th scope="col">{% trans "assignee"|title %}</th>
      <th scope="col">{% trans "due date"|title %}</th>
      <th scope="col">{% trans "created at"|title %}</th>
    </tr>
  </thead>
  {% for task in tasks %}
    <tr>
      <td>{{task.project}}</td>
      <td>{{task.title}}</td>
      <td>{{task.assignee}}</td>
      <td>{{task.due_date}}</td>
      <td>{{task.created_at}}</td>
    </tr>
  {% endfor %}
</table>

{% endblock %}