{% load i18n %}

<form action="{% url 'index' %}" class="form">
    <div class="form-row">
        {% comment %}
        The primary submit button has to be the first one in order for
        submitting via enter to work. If the date range stepping buttons
        are present, they would become first without this.

        The submit button is then moved *visually* to the last place using
        flexbox order property.

        TODO: fix the taborder as well.
        {% endcomment %}
        <div class="form-group col-auto col-sm-4 col-lg d-flex align-items-end order-12">
            <a href="{% url 'index' %}" class="btn btn-sm btn-link text-nowrap mr-2">
                {% translate "Clear all" %}
            </a>

            <button class="btn btn-sm btn-secondary">
                {% translate "Filter" %}
            </button>
        </div>

        <div class="form-group col-auto col-sm-4 col-lg">
            {{ form.project.label_tag }}
            {{ form.project }}
        </div>

        {% include "date_range.html" with after=form.due_date_after before=form.due_date_before %}

        {% include "date_range.html" with after=form.created_after before=form.created_before %}

        <div class="form-group col-auto col-sm-4 col-lg">
            {{ form.status.label_tag }}
            {{ form.status }}
        </div>

        <div class="form-group col-auto col-sm-4 col-lg">
            {{ form.assignee.label_tag }}
            {{ form.assignee }}
        </div>

        <div class="form-group col-auto col-sm-4 col-lg">
            {{ form.tags.label_tag }}
            {{ form.tags }}
        </div>
    </div>
</form>