{% extends "base.html" %}
{% load i18n %}
{% load tasks_extras %}
{% block title %}{{task.title}}{% endblock %}
{% block content %}

<h2 class="my-3">{{task.title}}</h2>

<table class="table">
  <tbody>
    <tr>
      <th scope="row">
        {% translate "description"|title %}
      </th>
      <td>
        {{ task.description|linebreaks }}
      </td>
    </tr>
    <tr>
      <th scope="row">
        {% translate "status"|title %}
      </th>
      <td>
        {% task_status_badge task %}
      </td>
    </tr>
    <tr>
      <th scope="row">
        {% translate "due date"|title %}
      </th>
      <td>
        {{ task.due_date }}
      </td>
    </tr>
    <tr>
      <th scope="row">
        {% translate "created at"|title %}
      </th>
      <td>
        {{ task.created_at }}
      </td>
    </tr>
    <tr>
      <th scope="row">
        {% translate "assignee"|title %}
      </th>
      <td>
        {{ task.assignee }}
      </td>
    </tr>
  </tbody>
</table>

<div class="text-right my-4">
  <a href="{% url 'copy' task.id %}" class="btn btn-secondary">
    {% translate "Duplicate" %}
  </a>
  <a href="{% url 'edit' task.id %}" class="btn btn-primary">
    {% translate "Edit" %}
  </a>
</div>

<h3>{% translate "Notes" %}</h3>

{% for note in task.notes.all %}
  <p>
    {{ note.body|linebreaks }}
  </p>
{% endfor %}

<form method="POST" action="{% url 'create_note' task.id %}">
  {% csrf_token %}
  {% include "form.html" with form=note_form %}

  <div class="text-right my-4">
    <button class="btn btn-primary ml-3">
      {% translate "Add note" %}
    </button>
  </div>
</form>

{% endblock %}