{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Editing task" %}{% endblock %}
{% block content %}

<h2 class="my-3">{% trans "Editing task" %}</h2>

{% if is_concurrent_update %}
<div class="alert alert-danger" role="alert">
{% url 'edit' task.id as edit_link %}
{% blocktranslate %}
The task has been modified (possibly by someone else) while you were editing.<br>
You can either <a href="{{ edit_link }}">reload and discard your changes</a> or
<a href="{{ edit_link }}" target="_blank">edit the latest version in a new window</a>.
{% endblocktranslate %}
</div>
{% endif %}

<form method="POST" action="{% url 'edit' task.id %}">
  {% csrf_token %}
  {% include "form.html" %}

  <div class="text-right my-4">
    <a href="{% url 'detail' task.id %}">
      {% translate "Cancel" %}
    </a>
    <button class="btn btn-secondary ml-3" name="action" value="copy">
      {% translate "Save and duplicate" %}
    </button>
    <button class="btn btn-secondary ml-3" name="action" value="new">
      {% translate "Save and new" %}
    </button>
    <button class="btn btn-primary ml-3">
      {% translate "Save" %}
    </button>
  </div>
</form>

{% endblock %}